.formacao {
  background: #6C006F;
  color: #fff;
}

.formacao-container {
    max-width: 1200px;
    padding: 120px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.formacao .subtitle {
  color: #EE94EF;
  max-width: 5ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #E6C4E7;
}

.formacao-texto strong {
  color: #F4E8F4;
  font-weight: bold;
}

.facul-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.facul {
  flex: 1;
  background: linear-gradient(#FEF3FE, #FBACFB) ;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.facul-tipo {
  font-size: .875rem;
  color: #9B1C9E;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.facul-curso {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  color: #4F0051;
}

.facul-local {
  font-size: 1.125rem;
  color: #9B1C9E;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .formacao .subtitle {
    color: #F4E8F4;
  }
  .formacao-texto {
    font-size: 1.25rem;
  }
}
